@font-face {
   font-family: "smokeFont";
   src: url(/Users/averyjones/Downloads/Smoke.ttf);   
}

@font-face {
  font-family: "nunito";
  src: url(/Users/averyjones/Downloads/Nunito/Nunito-Light.ttf);
}

body {
  background-color: #D5AFE0;
  width: auto;
  margin: auto;
}

.name {
  font-family: "smokeFont";

}

.topbar {
  font-family: "nunito";
  font-size: 18px;
  cursor: pointer;
  margin: auto;
}


nav {
  margin: auto;
  height: 3em;
  display: flex;
  background-color: #834B94;
}

nav img {
  margin-left: 1em;
}

#moreinfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  width: 20em;
}

#about {
  float: left;
  margin-left: 10%;
  margin-right: 25%;
  margin-top: 12px;
}

#createown {
  float: left;
  margin: auto;
  margin-top: 12px;
}

#about:hover {
  background-color:#83eaf1;
  opacity: 50%;
}

.selfbox {
  width: 75%;
  margin: 0 auto;
}

#avatarbox {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

#avatarbox img {
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
}

.profilebox,
.about {
  height: fit-content;
  background-color: #834B94;
  margin-top: 5vmin;
  padding: 3vmin;
  border-radius: 12px;
  border: 2px solid #480295;
  box-shadow: 5px 5px #480295;
}

.detailbox,
.aboutbox {
  text-align: center;
}

.detailbox .name {
  font-size: 2em;
}

.detailbox .bio {
  font-size: 3vmin;
}

.sociallogo img {
  width: 50%;
  margin: 0 auto;
}

.sociallogo img:hover {
  box-shadow: 3px 3px 5px 5px #480295;
  border-radius: 12px;
  border: 2px solid #480295;
  width: 50.3%;
  cursor: pointer;
}

.socialbox {
  display: flex;
  justify-content: space-around;
}

.links {
  width: 75%;
  margin: 0 auto;
  margin-top: 4vmin;
}

.linkbox {
  background-color: #834B94;
  height: fit-content;
  margin-top: 5vmin;
  border-radius: 12px;
  border: 1px solid #480295;
  box-shadow: 5px 5px #480295;
  display: flex;
}

.linklogo img {
  width: 5vmin;
  padding: 3vmin;
}

.linklogo {
  width: 15%;
}

.linkname {
  width: 70%;
  font-size: 4vmin;
  padding: 3vmin;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.linkview {
  width: 20%;
  margin: auto;
}

.linkview button {
  background-color: #834B94;
  padding: 1vmin;
  font-size: 4vmin;
  color: #faf0fc;
  border-radius: 10px;
  border: 1px solid #480295;
}

.linkview button:hover {
  font-size: 4.5vmin;
  cursor: pointer;
  box-shadow: 3px 3px #480295;
}

.foot {
  background-color: #834B94;
  display: flex;
  justify-content: space-around;
  margin-top: 5vmin;
}

@media only screen and (max-width: 900px) {
  #avatarbox img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }

  .sociallogo img {
    width: 100%;
  }

  .sociallogo img:hover {
    box-shadow: 3px 3px 5px 5px #480295;
    border-radius: 12px;
    border: 2px solid #480295;
    width: 100.3%;
    cursor: pointer;
  }

  li {
    padding-left: 1em;
  }

  li a:hover {
    border: solid #480295;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    padding-bottom: 0.5vmin;
  }
}

.details {
  width: 75%;
  margin: 0 auto;
}

.details img {
  width: 100%;
  border: 1px solid #480295;
  border-radius: 12px;
}

.socialbox {
  display: flex;
  justify-content: space-around;
}

.sociallogo {
  width: fit-content;
  display: flex;
}

a {
  color: #faf0fc;
  text-decoration: none;
}

p {
  color: #faf0fc;
  font-family: "nunito";
}